---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';

export const prerender = false;

const { lang = 'it' } = Astro.props;


---
<Layout lang={lang}>
    <Nav activePage="home" deactivateAll="true" />
    <main class="tsbs-app-shell pt-4">
        <h1 class="display-2 fs-1 fw-bold text-uppercase">Home</h1>
        <p>Benvenut* su The Secret Bookish Society, il punto di partenza ideale per costruire il tuo sito con Astro e TypeScript.</p>
    </main>

</Layout>